/**************************************************
* style.css
*
* Copyright © 2011 Design Wonders
*/

@font-face
{
    font-family: CMyriadPro;
    src: url(images/MyriadPro-Regular.otf);
}

/**********************************************
 Body
 *********************************************/
body 
{
	background-image: url(images/bg.png);
	background-repeat: repeat-x;
	background-position: top;
	background-color: #FFFFFF;
	
	padding: 0px;
	margin: 0px;
	
	text-align:center;
	
	font-family: "Myriad Pro", CMyriadPro, Arial;
	font-size: 14pt;
	color: #a7a7a7;
	
	height: 100%;
}

img
{
	border: 0;
}

div
{
	padding: 0px;
	margin: 0px;
}

#main
{
	text-align: left;
	margin: 0px auto 0px auto;
	padding: 0px;
	width: 765px;
}

#logo
{
	margin-left: 20px;
	margin-top: 20px;
	margin-bottom: 10px;
}

#menu
{
	width: 765px;
	height: 52px;
	
	margin-bottom: 10px;
}

#footer
{
	width: 765px;
	height: 52px;
	
	margin-top: 10px;
}

#on-tap-content
{
	width: 765px;
}

#border-top-left
{
	width: 17px;
	height: 17px;
	
	background-image: url(images/mainContentBC.png);
	background-position: top left;
	background-repeat: no-repeat;
}
#border-top-mid
{
	width: auto;
	height: 17px;
	
	background-image: url(images/mainContentBH.png);
	background-position: top;
	background-repeat: repeat-x;
}
#border-top-right
{
	width: 17px;
	height: 17px;
	
	background-image: url(images/mainContentBC.png);
	background-position: top right;
	background-repeat: no-repeat;
}

#border-mid-left
{
	width: 17px;
	
	background-image: url(images/mainContentBV.png);
	background-position: left;
	background-repeat: repeat-y;
}
#border-mid-mid
{
	width: auto;
	text-align: center;
	
	background-color: #000000;
}
#border-mid-right
{
	width: 17px;
	
	background-image: url(images/mainContentBV.png);
	background-position: right;
	background-repeat: repeat-y;
}


#border-bottom-left
{
	width: 17px;
	height: 17px;
	
	background-image: url(images/mainContentBC.png);
	background-position: bottom left;
	background-repeat: no-repeat;
}
#border-bottom-mid
{
	width: auto;
	height: 17px;
	
	background-image: url(images/mainContentBH.png);
	background-position: bottom;
	background-repeat: repeat-x;
}
#border-bottom-right
{
	width: 17px;
	height: 17px;
	
	background-image: url(images/mainContentBC.png);
	background-position: bottom right;
	background-repeat: no-repeat;
}

.card-container
{
	width: 365.5px;
	float: left;
}

.card
{
	width: 351px;
	height: 439px;
	
	padding: 0px;
	margin: 0px;
	margin-left: 7px;
	
	background-image: url(images/card.png);
	background-repeat: no-repeat;
	
	text-align: center;
	color: #232323;
	float: left;
}

.card-title
{
	margin-top: 13px;
	margin-bottom: 1px;
	margin-left: 10px;
	margin-right: 10px;
	
	height: 29px;
	
	font-size: 18pt;
	
	overflow: hidden;
	position: relative;
}
.card-title div
{
	width: 100%;
	
	position: absolute;
	bottom: 0px;
	left: 0px;
}
.card-title span
{
	white-space: nowrap;
}

.card-img
{
	width: 100%;
	height: 340px;
	
	line-height: 1px;
	
	background-repeat: no-repeat;
	background-position: center center;
}

.card-amount
{
	padding-top: 0px;
	width: 100%;
	
	font-size: 28pt;
}

.warning
{
	color: #bd1313;
}


#drinkfeed-content
{
	width: 440px;
	height: 480px;

	margin-left: 20px;
}

#drinkfeed-contain
{
	width: 406px;
	height: 446px;
	
	margin: 0px;
	padding: 0px;
	
	overflow-x: hidden;
	overflow-y: scroll;
	
	font-size: 14pt;
	color: #8b8b8b;
}

#drinkfeed
{
	width: 370px;
	
	padding: 0px;
	padding-left: 8px;
	margin: 0px;
	
	font-size: 14pt;
}

.latest
{
	color: #f0e244;
}

.drinkfeed-date
{
	width: 370px;
	height: 30px;
	
	padding: 0px;
	margin: 0px;
	
	font-size: 18pt;
	text-align: center;
}

.spacer, .spacer-latest
{
	width: 370px;
	height: 10px;
	
	font-size: 1px;
	line-height: 1px;
	
	padding: 0px;
	margin: 0px;
	
	background-repeat: no-repeat;
	background-position: left;
}
.spacer
{
	background-image: url(images/spacerGrey.png);
}
.spacer-latest
{
	background-image: url(images/spacerYellow.png);
}

.drink-time
{
	width: 90px;
	height: 30px;
	
	padding: 0px;
	margin: 0px;
}

.drink-beer
{
	width: 200px;
	height: 30px;
	
	padding: 0px;
	margin: 0px;
}

.drink-amount
{
	width: 80px;
	height: 30px;
	
	text-align: right;
}

.align-bottom
{
	width: 100%;
	height: 25px;
	
	overflow: hidden;
	position: relative;
}
.align-bottom div
{
	position: absolute;
	bottom: 0px;
}
.align-bottom .left
{
	left: 0px;
}
.align-bottom .right
{
	right: 0px;
}

.align-bottom span
{
	white-space: nowrap;
}